<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.mybatis.dao.Db_goodsinforMap">
	<select id="getgoodsname" parameterType="HashMap" resultType="Db_goodsinfor">
		select distinct * from db_goodsinfor where goodsname=#{goodsname}
	</select>
</mapper>