<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.mybatis.dao.Db_userinforDAO">
	<select id="validate" parameterType="HashMap" resultType="HashMap">
		select distinct username,useraddress from db_userinfor where username=#{username} and userpass=#{userpass}
	</select>
</mapper>